<h1>Please Enter Course Here</h1>
<div id="show_item"></div>
<%=form_remote_tag :url => {:action => 'create' },
:update => "show_item",
:complete => visual_effect(:highlight, "show_item") %>
<%= error_messages_for :course %>
<p><label for ="courses_course_name">Course</label>:
<%= text_field 'course', 'course_name' %></p>

<%= submit_tag 'create' %>
<%= link_to 'Back',{:action=>'Back'}%> <%= link_to 'Search Here',{:action=>'find'}%>




