<%= form_tag :action => 'show' %>

<h3>You are watching : <%= h @course.course_name %></h3>
    <p>
		<b>course:</b>
<%= h @course.course_name %>
	</p>

<%= link_to 'Back', {:action => 'list'} %>

<b> <%= link_to 'Delete', {:action => 'delete', :id => @course}, :confirm => "Are you sure to delete this item ?" %></b>

<b> <%= link_to 'Edit', {:action => "edit", :id => @course} %></b>
