<html>
<head>
	<title>College Management System</title>
	</head>
	<body>
		<h2 align="center">College Management System</h2>
<table cellpadding="50px">
<tr>
<td><%= link_to 'Home'%></td>
<td><%= link_to 'About Us' %></td><td><%= link_to 'Alumni' %></td><td><%= link_to 'Director Message' %></td><td><%= link_to 'Contact Us' %></td>

<td><%= link_to 'Login'%></td></tr>
</table>
		</body>
</html>